<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="layout-row align-end container m-b-20">
  <button mat-raised-button color="primary" [routerLink]="['edit']" *mifosxHasPermission="'WRITE_BILLINGFEECONFIG'">
    <fa-icon icon="edit" class="m-r-10"></fa-icon>
    {{ 'labels.buttons.Edit' | translate }}
  </button>
</div>

<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="layout-row-wrap">
        <div class="flex-50 header">{{ 'labels.inputs.Biller Code' | translate }}</div>
        <div class="flex-50">{{ schedule?.billerCode }}</div>
        <div class="flex-50 header">{{ 'labels.inputs.Product Code' | translate }}</div>
        <div class="flex-50">{{ schedule?.productCode }}</div>
        <div class="flex-50 header">{{ 'labels.inputs.Aggregator' | translate }}</div>
        <div class="flex-50">{{ schedule?.aggregatorCode }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="schedule?.components ?? []">
      <ng-container matColumnDef="componentCode">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Component Code' | translate }}</th>
        <td mat-cell *matCellDef="let component">{{ component.componentCode }}</td>
      </ng-container>

      <ng-container matColumnDef="dependsOnComponentCode">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Depends On' | translate }}</th>
        <td mat-cell *matCellDef="let component">
          {{ component.dependsOnComponentCode ?? ('labels.text.Amount' | translate) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rateType">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Rate Type' | translate }}</th>
        <td mat-cell *matCellDef="let component">
          {{ (component.rateType === 'PERCENT' ? 'labels.text.Percent' : 'labels.text.Flat') | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Rate' | translate }}</th>
        <td mat-cell *matCellDef="let component">{{ ratePercentOrFlat(component) }}</td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef>{{ 'labels.inputs.Enabled' | translate }}</th>
        <td mat-cell *matCellDef="let component">
          {{ (component.enabled ? 'labels.commons.Yes' : 'labels.commons.No') | translate }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="['componentCode', 'dependsOnComponentCode', 'rateType', 'rate', 'enabled']"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['componentCode', 'dependsOnComponentCode', 'rateType', 'rate', 'enabled']"
      ></tr>
    </table>
  </div>
</div>

<div class="container m-t-20">
  <button type="button" mat-raised-button [routerLink]="['../../']">
    {{ 'labels.buttons.Back' | translate }}
  </button>
</div>
