/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* ############ Light mode palettes ################ */

/* Access Bank Corporate Blue + Access Orange */

$primary-palette: (
  100: #1a5dad,
  500: #003883,
  700: #025,
  contrast: (
    100: white,
    500: white,
    700: white
  )
);

$accent-palette: (
  100: #ffb74d,
  500: #ff8200,
  700: #c65100,
  contrast: (
    100: rgb(0 0 0 / 87%),
    500: white,
    700: white
  )
);

/* ############ Dark mode palettes ################ */

$dark-primary-palette: (
  100: #5ba2ec,
  500: #1a5dad,
  700: #003883,
  contrast: (
    100: white,
    500: rgb(255 255 255 / 87%),
    700: rgb(255 255 255 / 87%)
  )
);

$dark-accent-palette: (
  100: #ffb74d,
  500: #ff8200,
  700: #c65100,
  contrast: (
    100: white,
    500: white,
    700: white
  )
);
