<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h1 mat-dialog-title>{{ 'labels.heading.Release Amount' | translate }}</h1>
<form [formGroup]="releaseForm" (ngSubmit)="confirm()">
  <div mat-dialog-content class="layout-column">
    <p>{{ 'labels.text.Are you sure you want to release this amount' | translate }}</p>
    <mat-form-field class="flex-100">
      <mat-label>{{ 'labels.inputs.Reason' | translate }}</mat-label>
      <textarea matInput formControlName="reason" required maxlength="500" rows="3"></textarea>
      @if (releaseForm.controls.reason.hasError('required')) {
        <mat-error>
          {{ 'labels.inputs.Reason' | translate }} {{ 'labels.commons.is' | translate }}
          <strong>{{ 'labels.commons.required' | translate }}</strong>
        </mat-error>
      }
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button type="button" mat-raised-button mat-dialog-close>{{ 'labels.buttons.Cancel' | translate }}</button>
    <button type="submit" mat-raised-button color="warn" [disabled]="!releaseForm.valid">
      {{ 'labels.buttons.Confirm' | translate }}
    </button>
  </mat-dialog-actions>
</form>
