/**
 * Copyright since 2025 Mifos Initiative
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.description {
  margin: 0 0 12px;
  color: rgb(0 0 0 / 60%);
  font-size: 13px;
}

.preview {
  font-weight: 500;
}

.error-message {
  margin-bottom: 16px;
  color: var(--mdc-theme-error, #b00020);
}
