<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mat-card>
    <form [formGroup]="switchGlConfigurationForm" (ngSubmit)="submit()">
      <mat-card-content>
        <div class="layout-column">
          <mat-form-field>
            <mat-label>{{ 'labels.inputs.Switch Code' | translate }}</mat-label>
            <input matInput required formControlName="switchCode" />
            @if (switchGlConfigurationForm.controls.switchCode.hasError('required')) {
              <mat-error>
                {{ 'labels.inputs.Switch Code' | translate }} {{ 'labels.commons.is' | translate }}
                <strong>{{ 'labels.commons.required' | translate }}</strong>
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'labels.inputs.Direction' | translate }}</mat-label>
            <mat-select required formControlName="direction">
              @for (direction of directionOptions; track direction) {
                <mat-option [value]="direction.id">
                  {{ 'labels.' + direction.code | translate }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mifosx-gl-account-selector
            [inputFormControl]="switchGlConfigurationForm.controls.principalGlAccountId"
            [glAccountList]="glAccountData"
            [required]="true"
            [inputLabel]="'Principal GL Account'"
          >
          </mifosx-gl-account-selector>

          @if (isOutbound) {
            <mifosx-gl-account-selector
              [inputFormControl]="switchGlConfigurationForm.controls.switchFeeGlAccountId"
              [glAccountList]="glAccountData"
              [required]="true"
              [inputLabel]="'Switch Fee GL Account'"
            >
            </mifosx-gl-account-selector>

            <mifosx-gl-account-selector
              [inputFormControl]="switchGlConfigurationForm.controls.bankCommissionGlAccountId"
              [glAccountList]="glAccountData"
              [required]="true"
              [inputLabel]="'Bank Commission GL Account'"
            >
            </mifosx-gl-account-selector>
          }

          <mat-checkbox formControlName="active">
            {{ 'labels.inputs.Active' | translate }}
          </mat-checkbox>
        </div>
      </mat-card-content>

      <mat-card-actions class="layout-row align-center gap-5px responsive-column">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="switchGlConfigurationForm.pristine"
          *mifosxHasPermission="'UPDATE_SWITCHGLCONFIGURATION'"
        >
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
